<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header th:insert="include/header::header"></header>
</div>
<div class="container">
    <form action="/users">
        <label for="firstname">Firstname:
            <input id="firstname" type="text" name="firstname" th:value="${filter.firstname()}">
        </label><br>
        <label for="lastname">Lastname:
            <input id="lastname" type="text" name="lastname" th:value="${filter.lastname()}">
        </label><br>
        <label for="email">Email:
            <input id="email" type="text" name="email" th:value="${filter.email()}">
        </label><br>
        <div>
            <label for="page">Page:
                <input id="page" type="number" name="page" th:value="${users.metadata.page}">
            </label>
            <label for="size">Size:
                <input id="size" type="number" name="size" th:value="${users.metadata.size}">
            </label>
        </div>
        <button type="submit">Filter</button>
    </form>
</div>
<div class="container mt-0">
    <h1><span th:text="#{page.title.users}"></span></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><span th:text="#{users.table.label.first_name}"></span></th>
            <th scope="col"><span th:text="#{users.table.label.second_name}"></span></th>
            <th scope="col"><span th:text="#{users.table.label.email}"></span></th>
            <th scope="col"><span th:text="#{users.table.label.role}"></span></th>
            <th scope="col"><span th:text="#{users.table.label.action}"></span></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users.content}">
            <tr>
                <th scope="row"><h4 th:text="${user.firstname}"/></th>
                <td><h4 th:text="${user.lastname}"/></td>
                <td><h4 th:text="${user.email}"/></td>
                <td><h4 th:text="${user.role}"/></td>
                <td><a th:href="@{/users/{userId}/update(userId=${user.id})}"
                       class="btn btn-secondary"><span th:text="#{users.button.edit}"></span></a></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<div th:if="${errors}">
    <p style="color:red" th:each="error:${erroes}" th:text="${error.defaultMessage}"> Error message</p>
</div>
<div class="container">
    <div th:insert="include/footer :: footer"></div>
</div>
</body>
</html>