<div th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/books" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <h1 class="title" style="color:black;"><span class="header-title-sp" style="color: #7dcbf9">e</span>Library
                </h1>
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-left: 50px">
            <li><a th:href="@{/users/{userId}/update(userId=${#authentication.principal.id})}" th:if="${#authentication.authorities[0].getAuthority()=='USER'}"
                   class="nav-link px-2 link-dark"><span th:text="#{page.title.my_profile}"></span></a></li>
            <li><a href="/orders" th:if="${#authentication.authorities[0].getAuthority()=='USER'}"
                   class="nav-link px-2 link-dark"><span th:text="#{page.title.my_orders}"></span></a></li>
            <li><a href="/users" th:if="${#authentication.authorities[0].getAuthority()=='ADMIN'}"
                   class="nav-link px-2 link-dark"><span th:text="#{page.title.users}"></span></a></li>
            <li><a href="/books/add" th:if="${#authentication.authorities[0].getAuthority()=='ADMIN'}"
                   class="nav-link px-2 link-dark"><span th:text="#{page.title.add_book}"></span></a></li>
            <li><a href="/orders" th:if="${#authentication.authorities[0].getAuthority()=='ADMIN'}"
                   class="nav-link px-2 link-dark"><span th:text="#{page.title.orders}"></span></a></li>
            <li><a href="/books" class="nav-link px-2 link-dark"><span th:text="#{page.title.books}"></span></a>
            </li>
            <li><a href="/about" class="nav-link px-2 link-dark"><span th:text="#{page.title.about_library}"></span></a>
            </li>
        </ul>
        <div style="display: inline-block;margin-left: 60px" >
            <header th:insert="include/locale :: locale"></header>
        </div>
        <div  style="display: inline-block;">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary" style="display: inline-block;background-color: royalblue"><span th:text="#{header.log_out}"></span></button>
            </form>
        </div>
    </header>
</div>